<div class="card shadow-effect">
    <div class="card-body">
        <div class="container text-center mt-3 mb-5">
            <h3>SUBSCRIPTION FORM</h3>
            <p class="m-auto subs-text">Lorem ipsum dolor, sit amet consectetur adipisicing elit.</p>
            <form action="" class="row d-flex justify-content-md-center align-items-center mt-5">
                <div class="form-group col-md-5 mb-2">
                    <input type="text" class="form-control shadow-effect" placeholder="Your name">
                </div>
                <div class="form-group col-md-5 mb-2">
                    <input type="email" class="form-control shadow-effect" placeholder="Email address">
                </div>
                <div class="col-md-2">
                    <button type="submit" class="btn btn-info btn-sub">SUBSCRIBE</button>
                </div>

            </form>
        </div>
    </div>
</div>
