<div class="container">
  <div class="row">
    <div class="col-md-9">
      <div class="card">
        <img
          src="https://images.pexels.com/photos/1323550/pexels-photo-1323550.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
          alt="post-photo"
          class="card-img-top img-fluid"
        />
        <div class="card-body shadow-effect">
          <small class="bg-light text-danger text-center ms-3">Design</small>
          <small class="bg-light text-success text-center ms-3">Featured</small>
          <small class="bg-light text-info text-center ms-3"
            >Views - 150,150</small
          >
          <small class="bg-light text-warning text-center ms-3"
            >Last update - 14 Aprl, 2023</small
          >
          <h1 class="mb-3 mt-3">Article title</h1>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores
            quibusdam repudiandae quae officia corrupti aperiam nisi, illum
            impedit perspiciatis labore quo provident placeat rem minima aut
            minus totam obcaecati ea?
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores
            quibusdam repudiandae quae officia corrupti aperiam nisi, illum
            impedit perspiciatis labore quo provident placeat rem minima aut
            minus totam obcaecati ea?Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores
            quibusdam repudiandae quae officia corrupti aperiam nisi, illum
            impedit perspiciatis labore quo provident placeat rem minima aut
            minus totam obcaecati ea?
          </p>
        </div>
      </div>

      <app-comment-form></app-comment-form>
      <app-comment-list></app-comment-list>

    </div>
    <div class="col-md-3">
        <app-post-card></app-post-card>
        <app-post-card></app-post-card>
        <app-post-card></app-post-card>
    </div>
  </div>
</div>
