<div class="card">
  <img src="https://images.pexels.com/photos/15962125/pexels-photo-15962125.jpeg" alt="post-image" class="card-img-top card-img-size" />
  <div class="card-body">
    <small class="bg-light text-danger text-center">Design</small>
    <small class="bg-light text-success text-center ms-3">Featured</small>
    <small class="bg-light text-info text-center ms-3">Views - 150,150</small>

    <h5 class="card-title mt-1">Title</h5>
    <p class="card-text">
      Lorem ipsum, dolor sit amet consectetur adipisicing elit. Laboriosam
      cupiditate nesciunt nihil molestias adipisci fuga iure libero nam eaque
      nobis, dignissimos consequatur, quod nulla, voluptatem porro debitis autem
      ullam esse.
    </p>

    <small class="bg-light text-warning text-center ms-3">LAST UPDATE - Apr 10, 2023</small>

  </div>
</div>
